<head>
	<title>ES Config Tool</title>
	<link rel="icon" type="image/png" href="static/favicon.png">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<div class="app_title"><img src="static/logo.png" height=30px> ES Config Tool </div><small>Ver 1.0</small>
<div class="app_description">This is a tool for editing Easy Smart XML config file.</div>
<hr>
<a href="upload" class="menuitem">[Upload File to Edit]</a> 
<a href="editor" class="menuitem">[Editor]</a>
<a href="builds" class="menuitem">[Build Files]</a>
<a href="logout" class="menuitem">[Logout]</a>
<hr>